# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
.env.*

# Git
.git
.gitignore

# CI/CD
.github/

# Dev / tests
tests/
.pytest_cache/
.cache/

# Docs
README.md
ROADMAP.md

# Local artifacts
*.log
*.sqlite3

# Docker dev
docker-compose.dev.yml

# IDE
.vscode/
.idea/
