# App
APP_NAME=age-decision-api
APP_ENV=development
APP_PORT=8002
API_VERSION=1.1.0

# Logging
LOG_LEVEL=info

# Core service
AGE_DECISION_CORE_URL=http://age-decision-core:8000

# Antispoof service
AGE_DECISION_ANTISPOOF_URL=http://age-decision-antispoof:8001

# Timeout in milliseconds
REQUEST_TIMEOUT=3000

# Privacy
EXPOSE_RAW_DOWNSTREAM_RESPONSES=false