APP_NAME=age-decision-api
APP_ENV=production
APP_PORT=8002

AGE_DECISION_CORE_URL=http://age-decision-core:8000
AGE_DECISION_ANTISPOOF_URL=http://age-decision-antispoof:8001

REQUEST_TIMEOUT=3000
LOG_LEVEL=info

EXPOSE_RAW_DOWNSTREAM_RESPONSES=false